{% extends "layouts/layout-dashboard.twig" %}

{% set page_group = "cohort" %}

{# Set page properties (page.*) here. #}
{% block page %}
    {# By putting this in a special block, we ensure that it will be set AFTER the default values are set in the parent template,
    but BEFORE the page itself is rendered. #}
    {% set page = page | merge({
    "title"       : "Cohorts" ,
    "description" : "Cohorts management, add/remove cohorts, etc."
    }) %}
    {{ parent() }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        #table-groups td {
            vertical-align: text-top;
            padding-left: 15px;
        }
        #table-groups th{
            text-align: center;
        }
        #hidelink, #hidelink a{
            color: darkgrey;
        }
        .btn-width{
            width: 85px;
        }
        #invi{
            opacity: 0.45;
        }
    </style>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-12" >
        <div class='panel panel-primary'>
            <div class='panel-heading'>
                <h3 class='panel-title'><i class='fa fa-users'></i> All Cohort</h3>
            </div>
            <div class='panel-body' >
                <div class="table-responsive">
                    <table id="table-groups" class="tablesorter table table-hover table-striped tablesorter-bootstrap" data-sortlist="[[0, 0]]" id="accordion">
                        <thead>
                        <tr>
                            <th width="25%" class="sorter-metatext" data-column-name="category">Category <i class="fa fa-sort"></i></th>
                            <th width="25%" class="sorter-metatext" data-column-name="cohort_name">Cohort Name <i class="fa fa-sort"></i></th>
                            <th width="20%" class="sorter-metatext" data-column-name="cohort_id">Cohort ID <i class="fa fa-sort"></i></th>
                            <th width="15%" class="sorter-metatext" data-column-name="cohort-size">Members <i class="fa fa-sort"></i></th>
                            <th width="15%" data-column-name="flag_can_delete">Actions <i class="fa fa-sort"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cohort in cohorts %}
                        <tr>
                            <td data-toggle="collapse" data-target="#description{{ cohort.id }}" >
                                <strong>
                                {% if cohort.cname == NULL %}
                                System
                                {% else %}
                                <a href="{{site.uri.public}}/list/cohorts/ct/{{ cohort.contextid }}">
                                {{cohort.cname}}
                                </a>
                                {% endif %}
                                </strong>
                            </td>
                            <td data-toggle="collapse" data-target="#description{{ cohort.id }}">
                                <p>
                                    <div class="col-md-11">
                                    <strong>
                                        <i class="{{cohort.name}} fa-fw"></i> {{cohort.name}}
                                    </strong>
                                    </div>
                                    <span class="fa fa-chevron-down" ></span>
                                </p>
                                <div id="description{{ cohort.id }}" class="collapse"  >
                                    {{ cohort.description | raw }}
                                </div>
                            </td>
                            <td >
                                {{cohort.idnumber}}
                            </td>
                            <td  style="text-align: center;">
                                {{cohort.count_members}}
                            </td>
                            <td >
                                <div class="btn-group" id = "btn-group">
                                        <button type="button" class="btn btn-primary dropdown-toggle btn-width" {% if cohort.visible == 0 %}id="invi"{% endif %} data-toggle="dropdown" >
                                            {% if cohort.visible == 0 %}
                                            Invisible
                                            {% else %}
                                            Active
                                            {% endif %}
                                            <span class="fa fa-caret-down"></span>
                                        </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            {% if cohort.visible == 1 %}
                                                <a href="#" data-id="{{cohort.id}}" class="js-cohort-disable">
                                                    <i class="fa fa-eye"></i> Hide
                                                </a>
                                            {% else %}
                                                <a href="#" data-id="{{cohort.id}}" class="js-cohort-enable">
                                                    <i class="fa fa-eye-slash"></i> Show
                                                </a>
                                            {% endif %}
                                        </li>
                                        <li>
                                            <a href="#" data-id="{{ cohort.id }}" class="js-cohort-delete" data-name="{{cohort.name}}" data-target="#dialog-cohort-delete" data-toggle="modal">
                                                <i class="fa fa-trash-o"></i> Delete cohort
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{site.uri.public}}/forms/cohorts/c/{{ cohort.id }}/0">
                                                <i class="fa fa-edit"></i> Edit cohort
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{site.uri.public}}/assign/cohorts/c/{{ cohort.id }}/0">
                                                <i class="fa fa-users"></i> Assign
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                    {% include 'components/common/table-tablesorter-default.twig' with {'pager_id' : 'table-groups-pager'} %}
                </div>
                <div class="row">
                    <div class="col-md-6 ">
                        <a href="{{site.uri.public}}/forms/cohorts/ct/0">
                        <button type="button" class="btn btn-success">
                            <i class="fa fa-plus-square"></i>  Create New Cohort
                        </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block page_scripts %}
    <script>
        $(document).ready(function() {
            ufTable('table-groups');
            });
        $('.collapse').on('show.bs.collapse', function () {
            $('.collapse.in').collapse('hide');
        });
    </script>
{% endblock %}
