{% if (count == 0 and search == NULL) %}
<optgroup label="None"></optgroup>
{% elseif (count == 0 and search != NULL) %}
<optgroup label="No users match '{{ search }}'"></optgroup>
{% elseif search == NULL %}
<optgroup label="Current users({{ count }})">
{% else %}
<optgroup label="Current users matching({{ count }})">
    {% endif %}
    {% for user in users %}
        <option value = '{{ user.id }}'> {{ user.firstname }} {{ user.lastname }} ({{ user.email }}) </option>
    {% endfor %}
</optgroup>