{% extends "layouts/layout-dashboard.twig" %}

{% set page_group = "permissions" %}

{% block page %}
    {# By putting this in a special block, we ensure that it will be set AFTER the default values are set in the parent template,
    but BEFORE the page itself is rendered. #}
    {% set page = page | merge({
    "title"       : "Manage site administrators",
    "description" : "Manage site administrators"
    }) %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-wrench"></i> Manage site administrators </h3>
                </div>
                <div class="panel-body">
                    <form id="assignform" name="assign" method="POST" action="{{ form_action }}">
                        <table  class="tablesorter table table-striped tablesorter-bootstrap" cellspacing="0">
                            <tr>
                                <td id='existingcell' width="40%">
                                    <p>
                                        <label for="removeselect">Current site administrators</label>
                                    </p>
                                    <select name="removeselect[]"  class="form-control" id="removeselect" size="20" style="width: 80%">

                                    </select>
                                    <div class="form-group" style="padding: 20px 0 0 0">
                                        <div class="col-sm-5" >
                                            <input type="text" data-id="{{cohortid}}" name="removeselect_searchtext" class="form-control" id="removeselect_searchtext" placeholder="Search here ...">
                                        </div>
                                        <div >
                                            <button type="button" id="btnreset" disabled class="btn btn-default btn-warning" >Clear</button>
                                        </div>
                                    </div>
                                </td>
                                <td id="buttonscell" style="padding-top: 100px" >
                                    <button type="submit" class="btn btn-default col-lg-7" name = "addnew" value= "Add"><i class="fa fa-arrow-left"></i> Add </button>
                                    <br /> <br /> <br />
                                    <button type="submit" class="btn btn-default col-lg-7" name = "remove" value= 'Remove'>Remove <i class="fa fa-arrow-right"></i></button>
                                    <br /> <br />
                                    <button type="submit" class="btn btn-default col-lg-7" name = "main" value= 'Main'>Set main admin</button>
                                </td>
                                <td id="potentialcell" width="40%">
                                    <p>
                                        <label for="addselect">Users</label>
                                    </p>
                                    <select name="addselect[]" class="form-control" id="addselect" size="20" style="width: 80%">
                                        {% if potentialCount == 0%}
                                        <optgroup label="None">
                                            {% else %}
                                            <optgroup label="Potential Users({{ potentialCount }})">
                                                {% endif %}
                                                {% for potentialUser in potentialUsers %}
                                                    <option value = '{{ potentialUser.id }}'> {{ potentialUser.firstname }} {{ potentialUser.lastname }} ({{ potentialUser.username }}, {{ potentialUser.email }}) </option>
                                                {% endfor %}
                                            </optgroup>
                                    </select>
                                    <div class="form-group" style="padding: 20px 0 0 0">
                                        <div class="col-sm-5" >
                                            <input type="text" data-id="{{cohortid}}" name="addselect_searchtext" class="form-control" id="addselect_searchtext" placeholder="Search here ...">
                                        </div>
                                        <div >
                                            <button type="button" id="btnreset1" disabled class="btn btn-default btn-warning">Clear</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}